{% extends 'layout/base.html.twig' %}
{% block title %}Novo evento{% endblock %}
{% block body %}
<h4 class="mb-3">Novo evento</h4>
<div class="card p-4" style="max-width:680px">
  {{ form_start(form) }}
  <div class="row g-3">
    <div class="col-md-4">{{ form_row(form.type) }}</div>
    <div class="col-md-8">{{ form_row(form.name) }}</div>
    <div class="col-md-6">{{ form_row(form.startsAt) }}</div>
    <div class="col-md-6">{{ form_row(form.endsAt) }}</div>
    <div class="col-md-6">{{ form_row(form.location) }}</div>
    <div class="col-md-3">{{ form_row(form.fee) }}</div>
    <div class="col-md-3">{{ form_row(form.capacity) }}</div>
  </div>
  <div class="mt-4"><button class="btn btn-primary">Criar evento</button>
    <a href="{{ path('event_index') }}" class="btn btn-outline-secondary">Cancelar</a></div>
  {{ form_end(form) }}
</div>
{% endblock %}
